*{margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*/nav{
    background-color: black;
}
///*//
.colorDeFondo { background-color: navy !important; }
html body {
    background-color: rgb(25, 216, 143);

}
ul{
    display: flex;
    text-decoration: none;
    font-size: medium;
    padding: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 700;
}
#divPadreGrid{
display: grid;
grid-template-columns: 40% 40% 20%;
height: 900px;
grid-template-rows: 300px 300px 300px;
grid-template-areas: "A1 A1 A3"
                     "A1 A1 A3"   
                     "A1 A1 A3";

}
#gridDiv1{
    grid-area: A1; 
    font-size: large;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 40px;
    overflow-y:scroll;  
    }
#divImagen{
    grid-area: A3;
}
#divGaleriaGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 800px;
    grid-template-rows: 400px 400px;
    grid-template-areas: "G1 G1"
                         "G2 G2";
}
#divGaleriaUno{
    grid-area: G1;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;   
}
#divGaleriaDos{
    grid-area: G2;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

.divH1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.divSpan{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 80%;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 350;
    margin-bottom: 2%;    
}
.img{
    display: block;
    margin: auto;
}
.colorBlancoEnA{
    color: white;
    text-decoration: none;
}
body{
    background-color: rgb(85, 212, 142);   
}
main{
    width: 100%;
    height:fit-content
}
footer{
    background-color: black;
    height: 50px;
    color: white;
    text-align: center;
    font-size: large;
    margin-top: 2%;
    padding-top: 2%;
    position: relative;
}
.divGaleria{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 70%;
    justify-content: center;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 1%;   
}
img{
    width: 100%;
    height: 100%;
}
#h1Galeria{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 25px;
}
#Youtube{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px){
    ul{
        flex-direction: column;
        text-decoration: none;
        font-size: small;
        align-items: center;

    }
    nav{
        background-color: black;
        height: 110px;
    }
    #gridDiv1{
        overflow-y:auto;
        font-size: small;
    }
    footer{
        background-color: black;
        height: 50px;
        color: white;
        text-align: center;
        font-size: small;
        margin-top: 2%;
        padding-top: 2%;
        position: relative;
       
    }
    
   
}
#gradienteIndex{

    background-image: linear-gradient(rgb(22, 231, 231), rgb(64, 126, 64));
}

